<?xml version="1.0"?>
<robot name="CONSTANTS" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--Constants-->
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="M_PI_2" value="1.57079632679" />
    <xacro:property name="DEG_TO_RAD" value="0.017453293" />

</robot>