<?xml version="1.0"?>
<robot name="LINKS" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="base_footprint">
        <inertial>
            <mass value="0.0001"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.0001" ixy="0.0" ixz="0.0"
                        iyy="0.0001" iyz="0.0"
                        izz="0.0001"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
        </visual>
    </link>

    <link name="base_link">
        <inertial>
            <mass value="${base_m}"/>
            <origin xyz="0 0 0"/>
            <xacro:cylinder_inertia m="${base_m}" r="${base_r}" h="${base_h}"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="${base_h}" radius="${base_r}"/>
            </geometry>
            <material name="White"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="${base_h}" radius="${base_r}"/>
            </geometry>
        </collision>
    </link>
 
    <link name="caster_rotator">
        <inertial>
            <mass value="${caster_rot_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${caster_rot_h}" radius="${caster_rot_r}"/>
            </geometry>
            <material name="Purple"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${caster_rot_h}" radius="${caster_rot_r}"/>
            </geometry>
        </collision>
    </link>


    <link name="caster">
        <inertial>
            <mass value="${caster_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${caster_h}" radius="${caster_r}"/>
            </geometry>
            <material name="DarkOrange"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${caster_h}" radius="${caster_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="brush_lift">
        <inertial>
            <mass value="${br_lft_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_lft_h}" radius="${br_lft_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_lft_h}" radius="${br_lft_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="left_brush_connector1">
        <inertial>
            <mass value="${br_con1_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_con1_h}" radius="${br_con1_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_con1_h}" radius="${br_con1_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="left_brush_connector2">
        <inertial>
            <mass value="${br_con2_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_con2_h}" radius="${br_con2_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_con2_h}" radius="${br_con2_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="right_brush_connector1">
        <inertial>
            <mass value="${br_con1_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_con1_h}" radius="${br_con1_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_con1_h}" radius="${br_con1_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="right_brush_connector2">
        <inertial>
            <mass value="${br_con2_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_con2_h}" radius="${br_con2_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_con2_h}" radius="${br_con2_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="left_brush">
        <inertial>
            <mass value="${br_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_h}" radius="${br_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_h}" radius="${br_r}"/>
            </geometry>
        </collision>
    </link>

    <link name="right_brush">
        <inertial>
            <mass value="${br_m}"/>
            <origin xyz="0 0 0"/>
            <inertia    ixx="0.001" ixy="0.0" ixz="0.0"
                        iyy="0.001" iyz="0.0"
                        izz="0.001"/>
        </inertial>
        <visual>
            <geometry>
                <cylinder length="${br_h}" radius="${br_r}"/>
            </geometry>
            <material name="Green"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${br_h}" radius="${br_r}"/>
            </geometry>
        </collision>
    </link>  

    <link name="hokuyo_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="${hokuyo_size} ${hokuyo_size} ${hokuyo_size}"/>
            </geometry>
            <material name="Blue" />
        </visual>
    </link> 


</robot>