<?xml version="1.0"?>
<robot name="MACROS" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia ixx="${10*m*(3*r*r+h*h)/12}" ixy = "0.0" ixz = "0.0" iyy="${10*m*(3*r*r+h*h)/12}" iyz = "0.0" izz="${10*m*r*r/2}"/>
    </xacro:macro>

</robot>